SECRET_KEY=x
DEBUG=x
POSTGRES_DB_NAME=x
POSTGRES_USER=x
POSTGRES_HOST=x
POSTGRES_PORT=x
DATABASE_URL=x
CORS_ALLOWED_ORIGINS=x
CSRF_TRUSTED_ORIGINS=x
CORS_ALLOWED_ORIGINS=x
CSRF_TRUSTED_ORIGINS=x
ALLOWED_HOSTS=x
SUPABASE_URL=x
SUPABASE_SERVICE_ROLE_KEY=x
FRONTEND_URL=x
STRIPE_SECRET_KEY=x
STRIPE_WEBHOOK_SECRET=x
GOOGLE_MAPS_API_KEY=x
AWS_REKOGNITION_ENABLED=x
VERIFICATION_PROVIDER=x
AWS_ACCESS_KEY_ID=x
AWS_SECRET_ACCESS_KEY=x
AWS_DEFAULT_REGION=x
SPOTIFY_CLIENT_ID=x
SPOTIFY_CLIENT_SECRET=x