aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
amqp==5.3.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
asgiref==3.9.1
attrs==26.1.0
autobahn==25.12.2
automat==25.4.16
billiard==4.2.4
boto3==1.42.89
botocore==1.42.89
cachetools==6.2.6
cbor2==5.9.0
celery==5.4.0
certifi==2026.4.22
cffi==2.0.0
channels==4.3.2
channels-redis==4.3.0
charset-normalizer==3.4.7
click==8.3.3
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
constantly==23.10.4
cryptography==46.0.7
daphne==4.2.1
datasets==3.6.0
deprecation==2.1.0
dill==0.3.8
dj-database-url==3.0.1
django==5.2.4
django-cors-headers==4.4.0
django-redis==6.0.0
django-rest-framework==0.1.0
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.1
drf-yasg==1.21.10
filelock==3.29.0
frozenlist==1.8.0
fsspec==2025.3.0
geographiclib==2.0
geopy==2.4.1
google-ai-generativelanguage==0.6.10
google-api-core==2.30.3
google-api-python-client==2.195.0
google-auth==2.50.0
google-auth-httplib2==0.3.1
google-generativeai==0.8.3
googleapis-common-protos==1.74.0
grpcio==1.80.0
grpcio-status==1.71.2
h11==0.16.0
h2==4.3.0
hf-xet==1.5.0
hpack==4.1.0
httpcore==1.0.9
httplib2==0.31.2
httpx==0.28.1
huggingface-hub==1.14.0
hyperframe==6.1.0
hyperlink==21.0.0
idna==3.11
incremental==24.11.0
inflection==0.5.1
jmespath==1.1.0
kombu==5.6.2
markdown-it-py==4.2.0
matplotlib==3.9.2
mdurl==0.1.2
mmh3==5.2.1
msgpack==1.1.2
multidict==6.7.1
multiprocess==0.70.16
numpy==2.4.4
packaging==25.0
pandas==2.2.3
pillow==11.3.0
pip==24.0
postgrest==2.30.0
prompt-toolkit==3.0.52
propcache==0.4.1
proto-plus==1.27.2
protobuf==5.29.6
psycopg-binary==3.3.3
psycopg2-binary==2.9.11
py-ubjson==0.16.1
pyarrow==24.0.0
pyasn1==0.6.3
pyasn1-modules==0.4.2
pycparser==3.0
pydantic==2.13.4
pydantic-core==2.46.4
pygments==2.20.0
pyiceberg==0.11.1
pyjwt==2.10.1
pyopenssl==26.0.0
pyparsing==3.3.2
pyroaring==1.1.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.2.2
pytz==2025.2
pyyaml==6.0.2
realtime==2.30.0
redis==5.3.1
requests==2.33.1
rich==14.3.4
s3transfer==0.16.0
scikit-learn==1.5.2
scipy==1.18.0
service-identity==24.2.0
shellingham==1.5.4
six==1.17.0
sqlparse==0.5.3
storage3==2.30.0
strenum==0.4.15
strictyaml==1.7.3
supabase==2.30.0
supabase-auth==2.30.0
supabase-functions==2.30.0
tenacity==9.1.4
tqdm==4.67.3
twisted==25.5.0
txaio==25.12.2
typer==0.25.1
typing-extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.2
ujson==5.12.0
uritemplate==4.2.0
urllib3==2.6.3
vine==5.1.0
wcwidth==0.7.0
websockets==15.0.1
whitenoise==6.9.0
xxhash==3.7.0
yarl==1.23.0
zope-interface==8.3
zstandard==0.25.0
